.container {
    min-width: 100%;
    min-height: 20em;
    background-color: #171818;
    margin-top: 8vh;
    padding: 20px 20px;
    color: white;
    border-radius: 6px;

    -webkit-box-shadow: 6px 10px 15px -4px rgba(0,0,0,0.76);
    -moz-box-shadow: 6px 10px 15px -4px rgba(0,0,0,0.76);
    box-shadow: 6px 10px 15px -4px rgba(0,0,0,0.76);
}

.container .divider {
    padding-top: 5px;
    border-bottom: 2px solid rgb(15, 15, 15);
}

.container .heading {
    margin-top: 10px;
    margin-left: 5%;
    font-weight: 400;
}

.container .subheading {
    font-size: 1.1rem;
    font-weight: 300;
    margin-left: 5%;
    margin-top: 10px;
}

.container .changelogs {
    margin-left: 5%;
    margin-right: 5%;
}

